<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <center>
      <h1><%= title %></h1>
      <form action="get_amt">
        <table>
          <tr>
            <td>
              <select name="productName">
                <option name="" id="">--Select Product--</option>
                <option name="" id="">Suit</option>
                <option name="" id="">Jeans</option>
                <option name="" id="">Shirt</option>
                <option name="" id="">T-Shirt</option>
              </select>
            </td>
            <td>
              <input
                type="number"
                name="Enter Quantity"
                id=""
                placeholder="Enter Quantity"
              />
            </td>
          </tr>
        </table>
        <br />
        <input type="submit" value="Submit" style="cursor: pointer" />
      </form>
    </center>
  </body>
</html>
